body {
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    background-color: #f5f5f5;
}

h1 {
    text-align: center;
}

main {
    width: 75%;

    margin: 2rem auto;
    padding: 1rem;

    border-radius: 15px;
    box-shadow: 0 0 15px #353555 ;
}

section {
    margin-bottom: 2rem;
    padding: 2rem;
}

label {
    display: none;
}

table {
    border-collapse: collapse;
    
    width: 100%;
}

button {
    padding: .5rem 1rem;

    border-radius: 10px;
    border: none;

    background-color: #da95da;
    color: #f5f5f5;

    cursor: pointer;

    transition: .3s;
}

input {
    padding: .5rem 1rem;

    border-radius: 10px;
    border: none;

    margin-bottom: .5rem;

    transition: .3s;
}

#dv-rut {
    width: 1rem;
}

button:hover {
    transform: scale(1.1);

    background-color: #f5f5f5;
    color: #da95da;

    font-weight: bold;

    box-shadow: 0 0 15px 5px #da95da;
}

input:focus {
    outline: none;
    box-shadow: 0 0 15px #da95da;
}